.stripe{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 13rem;
    color: black;
    margin: auto;
    width: 80%;
    height: 50%;
}

.lien__panier{
    position: absolute;
    font-size: 15px;
    color: black;
    top: 7rem;
}

@media (min-width: 800px) {
    .lien__panier{
        font-size: 20px;
        width: 200px;
    }
     
}