.cards {
    margin-top: 5.4rem;
    width: 50%;
    display: flex;
}

.cards .loader {
    width: auto;
    margin-top: 15rem;
    margin-bottom: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader .loader__icon {
    border: 16px solid rgb(210, 210, 210);
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}