.card {
    width: auto;
    border: 2px solid gray;
    border-radius: 9px 9px;
    height: auto;
}

.card__img img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.card .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.title a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.title a:hover {
    text-decoration: underline;
}

.card .information {
    margin: 7px 7px 7px 7px;
}

.description {
    overflow: auto;
    width: 220px;
    height: 110px;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0px 6px 0px;
}

.card button {
    background-color: rgb(27, 115, 249);
    color: white;
    border-radius: 9px 9px;
    border: none;
    text-align: center;
}

