.contact {
    position: absolute;
    margin-top: 6.3rem;
    width: auto;
    margin-left: 1.9rem;
}

.contact .mail, .contact .phone {
    display: flex;
    align-items: center; 
    gap: 1rem;
    margin-top: 0.6rem;

}

.address p, .hours p {
    text-decoration: underline;
    font-weight: bold;
}

.address__details, .hours__details {
    margin-left: 2rem;
}

.contact a{
    display: block;
    margin-top: 14px;
    color: black;
    width: 102px;
}


.image{
    display: none;
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .image{
        display: inline;
        position: relative;
        left: 43rem;
        top: 6rem;
    }  
    
    .contact{
        font-size: 30px;
        margin-left: 5%;
    }

    .contact a{
        width: 200px;
    }
}

@media (min-width: 1800px){

    .parent__contact{
        display: flex;
    }

    .contact{
        font-size: 30px;
        margin-left: 5%;
    }

    .contact a{
        width: 200px;
    }

    .image{
        display: inline;
        position: relative;
        left: 80rem;
        top: 6rem;
    }    

    
}