.contact {
    position: absolute;
    margin-top: 6.3rem;
    width: auto;
    margin-left: 1.9rem;
}

.contact .mail, .contact .phone {
    display: flex;
    align-items: center; 
    gap: 1rem;
    margin-top: 0.6rem;

}

.address p, .hours p {
    text-decoration: underline;
    font-weight: bold;
}

.address__details, .hours__details {
    margin-left: 2rem;
}

.contact a{
    display: block;
    margin-top: 14px;
    color: black;
    width: 102px;
}


.image{
    display: none;
}

.BackToHome{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 769px){

    .parent__contact{
        display: flex;
    }

    .contact{
        font-size: 20px;
        margin-left: 5%;
    }

    .contact a{
        width: 800px;
    }

    .image{
        display: inline;
        position: relative;
        left: 60%;
        top: 7rem;
        width: 8%;
    }    

    .image img{
        width: 300px;
    }

    .child__contact{
        margin-left: 25%;
        margin-top: 15% !important;
    }
    
}